/* Custom heading colors */
h1 {
    color: #ff5733; /* Red-Orange */
}

h2 {
    color: #3498db; /* Blue */
}

h3 {
    color: #27ae60; /* Green */
}

h4 {
    color: #f39c12; /* Orange */
}

h5 {
    color: #9b59b6; /* Purple */
}