name: Test on all platforms
on:
  # pull_request:
  workflow_dispatch:

env:
  GO_VERSION: 1.24
  TERRAFORM_VERSION: 1.1.7

jobs:
  test:
    name: Test on all platforms
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-13
          - windows-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Terraform on Windows
        if: matrix.os == 'windows-latest'
        run: |
          choco install terraform --version=${{ env.TERRAFORM_VERSION }} -y
          echo "C:\Program Files\Terraform" >> $env:GITHUB_PATH
          terraform -version

      - name: Set up Terraform on Linux/macOS
        if: matrix.os != 'windows-latest'
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Setup Docker on macOS
        if: matrix.os == 'macos-13'  
        uses: douglascamata/setup-docker-macos-action@v1.0.0    

      - name: Set up QEMU on Linux/macOS
        if: matrix.os != 'windows-latest'
        uses: docker/setup-qemu-action@v3      
       
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Print PATH for Debugging
        run: echo $env:PATH  # Check if Terraform is in PATH

      - name: Run Tests
        run: go test ./...
#